body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  padding: 22px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

#hero {
  background-color: #007bff;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

#hero h1 {
  font-size: 3em;
}

#hero p {
  font-size: 1.2em;     
}

#hero .btn {
  background-color: white;
  color: #007bff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 20px 10px;
  text-align: center;
}

section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#skills ul {
  list-style-type: none;
  padding: 0;
}

#skills ul li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 1.2em;
}

.project {
  margin: 20px 0;
  display: inline-block;
  text-align: left;
  width: 45%;
  margin-right: 5%;
  vertical-align: top;
}

.project img {
  width: 100%;
  border-radius: 5px;
}

.project h3 {
  margin: 10px 0;
}

.project a {
  color: #007bff;
  text-decoration: none;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact input,
#contact textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#contact button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

/* about section  */
.about-container {
  display: flex;
}
.about-text {
  width: 50%;
}
.about-text p {
  padding: 10px 50px;
  text-align: left;
  line-height: 1.25rem;
  font-size: 1rem;
}
.about-img {
  width: 50%;
}
.about-img img {
  width: 50%;
  border-radius: 50%;
}
