body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.player {
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.details h2 {
  margin: 0;
  font-size: 1.5em;
}

.details p {
  margin: 5px 0 20px 0;
  font-size: 1em;
}

.controls button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
}

.controls button:hover {
  background-color: #777;
}

.progress-container {
  margin-top: 20px;
}

#progress {
  width: 100%;
}
footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}
header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}
.volume-container {
  margin-top: 10px;
}

#volume {
  width: 100%;
}
